
  <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item d-flex justify-content-between">
        <p class= "mx-3"><%= user.name %>
        (<%= link_to 'See profile', user_path(user.id), class:'link-success' %>)</p>
        <%= friend_user_links(user) %>
      </li>
    <%end%>
  </ul>
